<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <li>
            <a href="/cart/1>">아메리카노</a>
        </li>

    </body>
</html>
