<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>주문</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section class="showWrap">

        <h1>메뉴 선택</h1>
        <div class="left">
            <ul>
                <h2>커피</h2>
                    <li><img src="coffee_image/아메리카노.jpg"  class="image"><br>
                        <input type="button" class="order_drink" name="coffee1" value="아메리카노"></li>
                    <li><img src="coffee_image/카페라떼.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="coffee2" value="카페라떼"></li>
                    <li><img src="coffee_image/카라멜마키아또.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="coffee3" value="카라멜 마키아또"></li>
                    <li><img src="coffee_image/카푸치노.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="coffee4" value="카푸치노"></li>
                    <li><img src="coffee_image/카페모카.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="coffee5" value="카페 모카"></li>
                    <li><img src="coffee_image/아포가토.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="coffee6" value="아포가토"></li>
            </ul>
            <ul>
                <h2>음료</h2>
                    <li><img src="coffee_image/아포가토스무디.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="drink1" value="아포가토 스무디"></li>
                    <li><img src="coffee_image/망고스무디.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="drink2" value="망고 스무디"></li>
                    <li><img src="coffee_image/제주호두당근스무디.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="drink3" value="제주 호두 당근 스무디"></li>
                    <li><img src="coffee_image/딸기요거트.jpg" class="image"><br>
                        <input type="button" class="order_drink"name="drink4" value="딸기 요거트"></li>
                    <li><img src="coffee_image/아몬드바나나.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="drink5" value="아몬드 바나나"></li>
            </ul>
            <ul>
                <h2>차</h2>
                    <li><img src="coffee_image/말차레모네이드.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="tea1" value="말차 레모네이드"></li>
                    <li><img src="coffee_image/아이스티.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="tea2" value="아이스 티"></li>
                    <li><img src="coffee_image/핑크베리.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="tea3" value="핑크베리 유스베리"></li>
                    <li><img src="coffee_image/민트블렌드.jpg" class="image"><br>
                        <input type="button" class="order_drink"name="tea4" value="민트 블렌드 티"></li>
                    <li><img src="coffee_image/라임패션티.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="tea5" value="라임 패션 티"></li>
                    <li><img src="coffee_image/제주유기녹차.jpg" class="image"><br>
                        <input type="button" class="order_drink" name="tea6" value="제주 유기 녹차"></li>
            </ul>
        </div>
        <div class="right">
            <div class="get_all">
                <button>주문 현황</button>
                <section class="showResult"></section>
            </div>

            <input type="button" value="결 제" onclick="location.href='pay.html'"><br>
            <input type="button" value="이 전" onclick="location.href='main'">
        </div>
        </section>

        <script>

        </script>
    </body>
</html>
